.page-header {
    display: flex;
    justify-content: center;
    color: #f27916;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f27916;
    list-style: none;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 20px;
    gap: 20px;
  }
.card-container a { 
    text-decoration: none;
    color: #f26913;
}
  
.card-container a:hover {
    color: #e3221e;  
    text-decoration: none;
  }

.card-content {
    border: 2px solid orange;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
  

