main {
    color: #f26913;
    font-family: "Original Surfer", sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

.habit-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}

.frequency {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}

.freq-list {
    list-style-type: none;
}

.habit-actions {
    display: flex;
    justify-content: center;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
    font-size: 1.25em;
    margin: 5px;
    gap: 10px;
}

.habit-actions a {
    color: #f26913;
    text-decoration: none;
    padding: 5px;
    background-color: rgba(245, 141, 5, 0.7);
    border: 2px solid white;
    border-radius: 10px;
}

.habit-actions a:hover {
    color: #e3221e;
    text-decoration: none;
}

.completion {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow:
        -1px -1px 0 white,
         1px -1px 0 white,
        -1px  1px 0 white,
         1px  1px 0 white;
}

.streak {
    font-size: 20px;
    color: red;
}

.btn.complete {
    font-family: "Original Surfer", sans-serif;
    font-size: 22px;
    background-color: rgba(245, 141, 5, 0.7);
    border-radius: 10px;
    border-color: white;
    color: white;
    cursor: pointer;
}