{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'image/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Notable&family=Original+Surfer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Original+Surfer&display=swap" rel="stylesheet">
    <title>Habit Rabbit</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <div class="header">
        <a href="{% url 'habit-index' %}">
          <h2>HabitRabbit</h2>
        </a>
      </div>
      {% else %} 
      <div class="header">
        <a href="/">
          <h2>HabitRabbit</h2>
        </a>
      </div>
      {% endif %}

      <nav>
        <ul>
          {% if user.is_authenticated %}
          <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
          <li><a href="{% url 'habit-index' %}">Habit Rabbits</a></li>
          <li><a href="{% url 'create-habit' %}">Create a Habbit Rabbit</a></li>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
          {% else %} 
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
