{% extends 'base.html' %} {% load static %}
{% block head %} 
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<div class="welcome">
<h1>Welcome to Habit Rabbit</h1>
</div>
{% if not user.is_authenticated %}
<section>

    <h2> 
        <a href="{% url 'login' %}">Log In</a>
        or 
        <a href="{% url 'signup' %}">Sign Up </a>
        now to start tracking daily habits and adopting rabbits.</h2>
    <form action="{% url 'home' %}" method="post" class="login">
       
  </section>
  {% endif %} 
  {% endblock %}
  