form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e3221e;  

}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f26913;
}

#login-form button {
    background: none;
    border: none;
    color: #f27916;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.2s ease;
  }
  
#login-form button:hover {
    color: #e3221e;
  }

.confirm-buttons {
    margin: 15px;
}
.confirm-buttons a {
    color: #f27916;
    text-decoration: none;

  }
.confirm-buttons a:hover {
    color: #e3221e;  
    text-decoration: none;

  }