{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/habits/habit-index.css' %}"/>
{% endblock %} {% block content %}

<section class="page-header">
    <h1>Habit Rabbits</h1>
  </section>
  
  <ul>
  <section class="card-container">
    {% for habit in habits %}
    <li>
      <div class="card-content">
        <a href="{% url 'habit-detail' habit.id %}">
        <h2 class="card-title">{{ habit.name }}</h2>
        </a>
        <h2>{{ habit.description }}</h2>
      </div>
    </li>
    {% endfor %}
  </section>
  </ul>
  
  {% endblock %}